/* Custom css  */

/* Body color test */

.port {
    padding-top: 25px;
    padding-bottom: 15px;
}
/* Gap */

.gap100 {
    padding: 70px 0;
}
.gap100v1 {
    padding-top: 70px;
    padding-bottom: 20px;
}


/* Features decoration*/
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
    background-color: orangered;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* Carousel decoration*/

 /*Hero Section
 --------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    padding: 0;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    top: 110px;
    left: 50px;
    right: 50px;
}

#hero .carousel-content {
    background: rgba(28, 23, 21, 0.7);
    padding: 20px;
    color: #fff;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    border-top: 5px solid #f03c02;
}

#hero .carousel-content h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

#hero .btn-get-started {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f03c02;
}

#hero .btn-get-started:hover {
    background: #f03c02;
    color: #fff;
    text-decoration: none;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .carousel-indicators li {
    cursor: pointer;
}

@media (min-width: 1024px) {
    #hero .carousel-content {
        width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 992px) {
    #hero {
        height: calc(100vh - 70px);
    }
    #hero .carousel-content h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    #hero .carousel-content p {
        font-size: 15px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}
/*Back to top button
--------------------------------------------------------------*/
#back-to-top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: 3px solid #fff;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover , #back-to-top-btn:focus{
    background-color: #111;
    color: #ffffff;
}

@media(max-width: 992px) {
    #back-to-top-btn {font-size: 22px; width: 40px; height:40px; bottom: 15px; right: 15px;}
}

@media(max-width: 768px) {
    #back-to-top-btn {font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px;}
}
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}




/* -------------------Navbar decoration----------------------------- */

.navbar {
    background-image: linear-gradient(#111, #112);
}
.navbar-brand {
    margin-left: 10px;
    border-bottom: 2px solid transparent;
}

.navbar-brand:hover {
    border-bottom: 2px solid transparent !important;
}
.mynav a {
    margin-right: 30px;
    color: orangered !important;
}
.mynav a:hover {
    border-bottom: 2px solid #fff;
}

.mrt a {

    background: #181174;
    color: #fff !important;
    border-radius: 50px;
    padding: 10px 25px !important;
    width: 120px;
    text-align: center;
}

.active .mrt {
    background: red;
}
.mrt a:hover {
    border-bottom: 0 solid transparent !important;
    background: red;
}

.active a {
    border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 991px) {
    .mrt a {
        margin-top:5px;
        margin-bottom:5px;
    }
}
/* Footer */
/*footer {*/
/*    background:#111;*/
/*    padding:30px;*/
/*}*/
/*.copy {*/
/*    padding-top:30px;*/
/*}*/

.smed i {
    color: white;
    font-size: 40px;
    margin: 10px;


}

.smed i:hover {

    color: orangered;
}
.smed a:hover {
    border-bottom: 2px solid transparent;!important;
}
#phdr {
    background-image: linear-gradient(orangered, orangered);
}
#phdr h2 {
    color: #fff;
    margin: 50px;
    font-size: 45px;
    text-transform: uppercase;
}
.under {
    background: white;
    width: 350px;
    height: 8px;
    transform: skew(-30deg);
    margin-top: -50px;
}
.productHR {
    border:1px solid orangered;
}
/* Custom fonts */

.prdc_color {
    color: #0b0b0b;
}

.h1 {
    font-family: 'Oswald', sans-serif;
}

.h2 {
  font-family: 'Oswald', sans-serif;

}

.h2w {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.h3w {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.p {
    font-family: 'Raleway', sans-serif;

}

/* Team members */

#team {
    background: linear-gradient(#DDDDDA, #C2C8C5);
   }

.tm i {
    font-size: 35px;
    margin: 3px;
}

/* pfooter*/

#pfooter {
    background-color:#111111;
}

.pft {
    border-bottom: 1px solid #fff;
    padding-top: 20px;
}

.pft a {
    color: #fff;
    text-transform: uppercase;
}

.pft i {
    margin-right: 10px;
    color: #d41414;
    margin-left: -25px;
}
.btn-contact {
    background: #181174;
    color: #fff! important;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #777;
    width: 150px !important;
    padding: 5px 10px !important;
    text-transform: none !important;
    float: right;
    margin-top: -10px;
}
.btn-contact:hover {
    background: red;
}

/* Contact image */

#chero {
    background-image: url("../img/front/original.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

#cont {
    background-image: linear-gradient(#7697A0 , #706695);
}

.rbtn {
    float: right;
}

/* Portfolio section */

#portfolio {
    background: #fff;
    padding: 15px 0;
}

#portfolio .portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

#portfolio .portfolio-item h2 {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
}

#portfolio .portfolio-item img {
    transition: all ease-in-out 0.4s;
    width: 100%;
}

#portfolio .portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* PRODUCTS - LEXAN PAGE */
.lph h5 a {
    color: #00d724;!important;
    float:right;
    margin-top: 130px;

}
/*--------------------------------------------------------------------------*/

/* The grid: Three equal columns that floats next to each other */
.column {
    padding: 50px 50px;
    cursor: pointer;
    color: white;
}

.containerTab {

    color: white;
}



/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#cat {
    margin-bottom: 70px;
}

/*-------------------- SIDEBAR --------------------*/

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

